In [106]:
import handcalcs.render
import math as mt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics as st

In [107]:
L_O=-45       #Longitude Hora Legal
L =-46.6388  #Longitude 
L_a= -23.5489  #Latitude
Beta=0           #Inclinação 
GSC=1367         #Constante solar

In [108]:
df=pd.read_csv("Dados Segundo exercicio.csv" , encoding ='UTF-8' , sep=";")

NUMERO DO DIA NO ANO

In [109]:
df['n']= df['Dia']  + (df['Mês'] -1)*30 +df['Cor']

CALCULO DA HORA SOLAR

In [110]:
df['B']= (360/364)*(df['n']-81)

In [111]:
df['E']= 9.87*np.sin(np.radians(2*df['B']))-7.53*np.cos(np.radians(df['B']))-1.5*np.sin(np.radians(df['B']))

In [112]:
df['Corhora']= (4*(L_O-L)+df['E'])/60

In [113]:
HL=14.50

In [114]:
df['HS']= HL+df['Corhora']

ÂNGULO HORARIO

In [115]:
df['Omega']= (df['HS']-12)*15

DECLINAÇÃO SOLAR

In [118]:
df['sigma']= 23.45*np.sin(np.radians(360/365*(284+df['n'])))

ÂNGULO ZENITAL

In [119]:

df['teta_z']= np.degrees(np.arccos(np.sin(np.radians(df['sigma']))*np.sin(np.radians(L_a))+np.cos(np.radians(df['sigma']))*np.cos(np.radians(L_a))*np.cos(np.radians(df['Omega']))))

ÂNGULO DE INCIDENCIA

In [120]:
df['teta']=np.degrees(np.arccos(np.cos(np.radians(L_a+Beta)*np.cos(np.radians(df['sigma']))*np.cos(np.radians(df['Omega']))+np.sin(np.radians(L_a+Beta))*np.sin(np.radians(df['sigma'])))))

IRRADIAÇÃO EXTRATERRESTE SOBRE UMA SUPERFICIE HORIZONTAL EM UM PONTO DA TERRA

In [123]:
df['GO']=GSC*(1+0.033*np.cos(np.radians((360*df['n'])/365)))*np.cos(np.radians(df['teta_z']))

ÂNGULO HORÁRIO DO PÔR DO SOL

In [128]:
df['omega_s']=np.degrees(np.arccos(-np.tan(np.radians(L_a))*np.cos(np.radians(df['Omega']))))

IRRADIAÇÃO EXTRATERRESTRE INTEGRADA HORARI SOBRE SUPERFICIE HORIZONTAL

In [132]:
df['HO']=(2.75*10**4)*GSC*(1+0.033*np.cos(np.radians((360*df['n'])/365)))*(1.75*10**-2)*df['omega_s']*np.sin(np.radians(df['sigma']))*np.sin(np.radians(L_a))+np.cos(np.radians(df['sigma']))*np.cos(np.radians(L_a))*np.sin(np.radians(df['omega_s']))
df

,Dia,Cor,Mês,n,B,E,Corhora,HS,Omega,sigma,teta_z,teta,GO,omega_s,HO
0,15,0,1,15,-65.274725,-9.286743,-0.045526,14.454474,36.817114,-21.269474,34.021744,9.264017,1169.153793,69.579779,6.845841e+06
1,15,1,2,46,-34.615385,-14.573582,-0.133640,14.366360,35.495405,-13.289156,35.093886,13.397263,1144.425042,69.216711,4.278867e+06
2,15,-1,3,74,-6.923077,-9.656338,-0.051686,14.448314,36.724715,-2.818879,41.103229,17.726246,1040.016681,69.554054,9.077477e+05
3,15,0,4,105,23.736264,-0.223084,0.105535,14.605535,39.083029,9.414893,50.457800,21.777850,863.561049,70.226432,-2.996082e+06
4,15,0,5,135,53.406593,3.754880,0.171835,14.671835,40.077520,18.791918,57.631877,24.432579,715.315976,70.519625,-5.836068e+06
5,15,1,6,166,84.065934,-0.240580,0.105244,14.605244,39.078655,23.314410,60.303873,25.847812,655.759165,70.225155,-7.073803e+06
6,15,1,7,196,113.736264,-5.615811,0.015656,14.515656,37.734847,21.517336,58.134929,25.721932,698.492730,69.838050,-6.516524e+06
7,15,2,8,227,144.395604,-4.094882,0.041005,14.541005,38.115080,13.783564,52.750337,23.448088,807.752511,69.946515,-4.276072e+06
8,15,3,9,258,175.054945,5.677410,0.203877,14.703877,40.558152,2.216887,47.117412,18.763297,922.019710,70.663326,-7.121003e+05
9,15,3,10,288,204.725275,14.966751,0.358699,14.858699,42.880488,-9.599397,43.200048,13.197070,1004.485313,71.375569,3.153511e+06
10,15,4,11,319,235.384615,14.740614,0.354930,14.854930,42.823953,-19.147817,39.984823,8.807734,1071.698137,71.357885,6.294601e+06
11,15,4,12,349,265.054945,3.838767,0.173233,14.673233,40.098492,-23.335220,36.665675,7.472469,1131.337733,70.525869,7.575857e+06